.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.form-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background-color: #1e3a5f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.primary-btn:hover {
  background-color: #16304d;
}
.success-msg {
  margin-top: 15px;
  color: green;
  font-weight: 500;
  text-align: center;
}

.error-msg {
  margin-top: 15px;
  color: red;
  font-weight: 500;
  text-align: center;
}
