<div class="dashboard-container">

  <div class="dashboard-title">Manager Dashboard</div>

  <div class="cards-grid">

    <div class="dashboard-card" (click)="getUsers()">
      <div class="card-title">Total Users</div>
      <div class="card-value">{{ totalUsers }}</div>
      <div class="card-footer">View All Users →</div>
    </div>

    <div class="dashboard-card clickable" (click)="goToAccounts()">
  <div class="card-title">Total Accounts</div>
  <div class="card-value">{{ totalAccounts }}</div>
  <div class="card-footer">View All Accounts →</div>
</div>


    <div class="dashboard-card">
      <div class="card-title">Pending Approvals</div>
      <div class="card-value">{{ pendingApprovals }}</div>
    </div>

  </div>

  <div class="chart-box">
    <h3 style="margin-bottom:20px;">Transaction Summary</h3>
    <canvas
  baseChart
  [data]="{
    labels: chartLabels,
    datasets: [
      { data: chartData, label: 'Daily Summary' }
    ]
  }"
  [type]="'bar'">
</canvas>
  </div>

</div>
